/* Reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100vw;
  height: 100%;
}

/* Form */

.form-container {
  background-color: #3c2a4d;
  height: 100%;
  flex: 1;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-block-start: .6rem;
  gap: .6em;
}

.form-control label {
  font-weight: bold;
  color: #e0f0ea;
}

.form-control input {
  padding: .5em;
  border-radius: 5px;
  border: unset;
}

.form-control input[type="color"] {
  padding: 3px;
}

.form-control select {
  padding: .4em;
  border-radius: 5px;
}

.form-control textarea {
  padding: .4em;
  border-radius: 5px;
  font-size: 1rem;
}

.form-inputs {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* buttons */

/* general buttons style: */
#submit-input,
#btn-rest,
#btn-load,
#btn-save {
  width: 100px;
  padding-block: .5em;
  border-radius: 5px;
  border: unset;
  font-weight: bold;
  margin-block-start: 1em;
}

/* individual buttons */
#submit-input {
  color: #3c2a4d;
  background-color: #e0f0ea;
}

#btn-rest {
  background-color: red;
}

#btn-load {
  background-color: darkcyan;
}

#btn-save {
  background-color: darkolivegreen;
}

.my-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-block-end: 1em;
}

/* Content Window */
.content-container {
  flex: 3;
}